/***********MOBILE************/

/****HEADER****/

 header,h1,h2,.center{
     text-align: center;
}
 header p{
     text-align: center;
     margin:0;
}

header img{
  width: 110px;
  height: auto;
}

/****ICONE***/

.fa-university{
  color:red;
}
/*************FIELDSIET + FORMULAIRE*************/
 fieldset{
     border-color:red;
}
 .form-input{
     display: block;
     width:100%;
}
 .form-select{
     width: 100%;
}

div > a{
  margin-bottom : 1em;
}

 p{
     text-align: justify;
}
 .mobile_description{
     text-align: left;
     padding: 0.5em;
}
 a{
     text-decoration: none;
     color:black;
}
 .link{
     text-align: end;
}
 .link a, fieldset a, .like_dislike{
     border: 2px solid red;
     border-radius: 12px;
     padding: 5px;
}
 div img{
     width: 320px;
     height: 240px;
}
 .mobile_text{
     padding:9px;
}
 .container{
     padding: 0;
     max-width: 100%;
     padding-bottom: 15px;
}
 .acteurs{
     padding: 8px 7px 15px 7px;
     margin-top: 10px;
}
 .account{
     margin:0;
     padding:0;
     text-align: center;
}
 .account li{
     display:inline-block;
    /*width: 8em;
     */
}
 .account a{
     border: none
}
/************COMMENTAIRES**********/
 .like_dislike p{
     margin:0;
}
 .hand{
     display: inline-flex;
}
 .fa-thumbs-up{
     margin-right:9px;
}
 button{
     cursor: pointer;
     border: none;
     background-color: white;
}
 .like:hover{
     color:green;
}
 .dislike:hover{
     color:red;
}
 .comments{
     display: flex;
     align-items: center;
     justify-content: space-around;
}
 .comments a:nth-child(1){
     padding:9px;
}
/*************FOOTER****************/
 footer ul{
     list-style: none;
     display: flex;
     justify-content: center;
     padding: 2em;
     margin:0;
}
 footer ul li:first-child{
     margin-right: 1em;
}

 @media all and (min-width: 768px) {

   body{
       margin: 0 auto;
       max-width: 50em;
  }

     header{
         display: flex;
         align-items: center;
         justify-content: space-between;
    }
     header p{
         margin-bottom: 5em;
         margin-right: 3em;
    }
    /*.login div{
         display:flex;
         justify-content:space-around;
    }
     */
     .login-connexion input{
         width: 19em;
    }
     .center input{
         width:10em;
    }
     div img{
         height: 174px;
         margin-top: 2rem;
         margin-right: 1rem;
    }
     .tablet-acteurs{
         display: flex;
         align-items: center;
         height: 10rem;
    }
}
 @media all and (min-width: 1024px){
     body{
         margin: 0 auto;
         max-width: 50em;
    }
}
